.home {
  background: var(--bg-secondary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.home_middle {
  margin-top: 75px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1175px) {

  .stories,
  .createPost,
  .post,
  .send_verification {
    width: 84%;
  }

  .home_middle {
    margin-left: 5%;
  }

  .right_home {
    width: 18vw;
  }
}

@media (max-width: 1030px) {

  .left_home .left_link span,
  .left_home .left_link .col,
  .shortcut,
  .shortcut_item span,
  .splitter,
  .fb_copyright {
    display: none;
  }

  .left_home {
    width: 70px;
  }

  .left_link {
    background: var(--bg-third);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  .home_middle {
    position: relative;
    margin-left: 55px;
  }

  .right_home {
    width: 20vw;
  }

  .contacts_header_right {
    right: 10%;
  }

  .contact_circle {
    width: 20px;
  }

  .stories,
  .createPost,
  .post,
  .send_verification {
    width: 100%;
  }
}

@media (max-width: 960px) {

  .createPost,
  .post,
  .send_verification {
    width: 93%;
  }

  .stories {
    width: 95%;
  }

  .home_middle {
    margin-left: 10%;
  }

  .right_home {
    left: 78%;
    width: 20vw;
  }

  .splitter1 {
    width: 20vw;
  }

  .contact_circle {
    width: 30px;
  }

  .contacts_header_right {
    right: 0;
  }
}

@media (max-width: 885px) {
  .right_home {
    display: none;
  }

  .createPost,
  .post,
  .send_verification {
    width: 110%;
  }

  .stories {
    width: 112%;
  }

  .home_middle {
    margin-left: 9%;
  }
}

@media (max-width: 805px) {
  .stories {
    grid-template-columns: repeat(6, 12.7vw);
  }

  .story_profile_name,
  .story_create_text {
    display: none;
  }

  .create_story_card {
    filter: brightness(96%);
  }

  .stories .white_circle {
    right: 5px;
  }

  .story_profile_pic {
    width: 7vw;
    height: 7vw;
  }

  .left_home::-webkit-scrollbar {
    display: none;
  }

  .popup {
    width: 70vw !important;
  }
}

@media (max-width: 620px) {
  .left_home {
    display: none;
  }

  .home_middle {
    position: absolute;
    margin-left: 0;
  }

  .stories,
  .createPost,
  .post,
  .send_verification {
    width: 100%;
  }

  .stories .white_circle {
    display: none;
  }

  .stories {
    grid-template-columns: repeat(6, 14vw);
  }

  .story,
  .create_story_card {
    height: 30vw;
  }

  .createPost_icon {
    font-size: 12px;
  }

  .open_post {
    font-size: 16px;
  }

  .createPost_icon svg {
    width: 20px;
  }
}

/*-----Activate popup----*/
.popup {
  position: relative;
  background: var(--bg-primary);
  box-shadow: 0 1px 2px var(--shadow-1);
  width: 40vw;
  height: 200px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  text-align: center;
  border-radius: 10px;
}

.popup_header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-bottom: 1px solid var(--bg-third);
  padding: 15px;
}

.popup_message {
  padding: 15px;
  font-weight: 500;
}
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}
/*-----Activate popup----*/